<ion-modal-view title="Filter">
    <ion-header-bar class="bar-royal">
        <h1 class="title">Filter</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closefilter()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding bg-light">
        <form class="filter-form">
            <div class="list">
                <label class="item item-input range-item">
                    <span class="input-label">Minimum</span>
                    <input type="text" ng-model="filter.pricemin" required>

                </label>
                <div class="range range-assertive">
                    <input type="range" min="0" max="500000" step="1000" ng-model="filter.pricemin" class="range-input">
                </div>
                <label class="item item-input range-item">
                    <span class="input-label">Maximum</span>
                    <input type="text" ng-model="filter.pricemax" required>
                </label>
                <div class="range range-assertive">
                    <input type="range" min="{{filter.min}}" max="500000" step="100" ng-model="filter.pricemax" class="range-input">
                </div>
                <div class="button-filter">
                    <button class="button button-royal3 button-bold button-block" ng-click="filtersave(filter)"> Save</button>
                    <a class="button button-royal2 button-block"> Clear</a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>